.background{
  background-color: #95e5e5;
  display: grid;
  grid-template-columns: repeat(3,400px);
  justify-content: center;
}
.cardDesign{
  background-color: white;
  margin-top: 60px;
  margin-bottom: 30px;
  width:300px;
  height: 400px;
}
.resize{
  width:100px;
  height: auto;
}
.txt{
  font-size: 28px;
}
.btn{
  background-color: rgba(120, 180, 225, 0.98);
  font-size:20px;
  font-weight: bold;
  color:white;
  padding: 10px;
}
.btn:hover{
  background-color: rgba(12, 65, 107, 0.98);
}
.btn:active{
  color: #757171;
}
.infoPosition{
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items:center;
 }