.background{
  background-color: #95e5e5;
  display: grid;
  grid-template-columns: repeat(3,400px);
  justify-content: center;
}
.cardDesign{
  background-color: white;
  margin-top: 60px;
  margin-bottom: 30px;
  width:300px;
  height: 400px;
}