.background{
  background-color: #95e5e5;
  display: grid;
  height: 100%;
  grid-template-columns: repeat(3,300px) ;
}
.cardDesign{
  background-color: white;
  margin-top: 50px;
  margin-bottom: 10px;
  height: 400px;
}